{% extends "layout/base.twig" %}

{% block title %}[[Page not found]]{% endblock %}
{% block styles %}<link rel="stylesheet" href="/styles/welcome.css"/>{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="placeholder">
            <img src="/images/404.svg" alt="Error 404" width="300px"/>
            <h2>[[Page not found]]</h2>

            {% include 'embed/links.twig' with {
                'git': 'https://github.com/spiral/app',
                'style': 'font-weight: bold;'
            } %}

            <div style="font-size: 12px; margin-top: 10px;">
                [[This view file is located in]] <b>app/views/exception/404.twig</b>.
            </div>
        </div>
    </div>
{% endblock %}
