{% extends "layout/base.twig" %}

{% block title %}[[Something went wrong]]{% endblock %}
{% block styles %}<link rel="stylesheet" href="/styles/welcome.css"/>{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="placeholder">
            <img src="/images/logo.svg" alt="Framework Logotype" width="200px"/>
            <h2>[[Something went wrong]]. [[Error code]]: {{ code }}</h2>

            {% include 'embed/links.twig' with {
                'git': 'https://github.com/spiral/app',
                'style': 'font-weight: bold;'
            } %}

            <div style="font-size: 12px; margin-top: 10px;">
                [[This view file is located in]] <b>app/views/exception/error.twig</b>.
            </div>
        </div>
    </div>
{% endblock %}
