<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
<stack:collect name="scripts" level="1"/>
</body>
<hidden>{{ context }}</hidden>
</html>
