<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
    <coverage/>
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <env name="RUN_APPLICATION_TESTS" value="true"/>
        <env name="DELETE_TEST_APPLICATION" value="true"/>
        <env name="DELETE_APPLICATION_LOGS" value="true"/>
    </php>
</phpunit>
